.button {
    padding: 20px 40px;
    background-color: #2639ED;
    font-size: 20px;
    color: #fff;
    letter-spacing: 1.3px;
    box-shadow: none;
    border: none;
    border-radius: 60px;
    z-index: 1;
}