.banner{ 
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}

.content {
    position: relative;
    max-width: 30%;

    button {
        z-index: 1;
    }
    .dotMatrixWrapper {
        position: absolute;
        bottom: 30px;
        left: -40px;
    }
}

.heroHeader {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
}

.heroContent {
    line-height: 1.6;
    margin-bottom: 33px;
}

