*,
*::before,
*::after{
    box-sizing:border-box;
    font-family: "Averta", "PT Sans", Calibri, Tahoma, sans-serif;
    font-weight: 400;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font: inherit;
}

@font-face {
    font-family: "Averta";
    src: url('assets/fonts/AvertaStd-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Averta";
    src: url('assets/fonts/AvertaStd-Black.ttf');
    font-weight: bold;
    font-style: normal;
}

.header {
    font-size: 40px;
    font-weight: bold;
}